{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "tailwindAttributes": ["className", "class", "activeClassName"],
  "tailwindFunctions": ["cn", "clsx", "twMerge", "cva"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
