@import 'tailwindcss';

@theme {
  --font-sans:
    'Klein', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);

  --letter-spacing-tightest: -0.02em;
}

@layer base {
  @font-face {
    font-family: 'Klein';
    src: url('./assets/fonts/klein/Klein-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Klein';
    src: url('./assets/fonts/klein/Klein-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --background: #ffffff;
    --foreground: #1d2127;
    --card: #ffffff;

    letter-spacing: var(--letter-spacing-tightest);
  }

  .dark {
    --background: #021527;
    --foreground: #f8fafc;
    --card: #0f172a;
  }

  @media (prefers-color-scheme: dark) {
    :root:not(.light) {
      --background: #021527;
      --foreground: #f8fafc;
      --card: #0f172a;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);

    @apply min-h-screen font-sans antialiased transition-colors duration-300;
  }
}
